@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to Jeff's Burger</h1>
    <p> <a href="https://localhost:7084/Burgers"> Hamburguesas</a> </p>
    <p> <a href="https://localhost:7084/Promo"> Promos</a> </p>
</div>
